* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
    background-color: rgb(53, 53, 53);
}


#root {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

#root::-webkit-scrollbar {
    display: none;
}

#root {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.todoInputContainer {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    align-items: center;
    width: 600px;
    height: 100px;
    background-color: rgb(59, 59, 59);
    margin: 40px auto 0px;
    border-radius: 20px;
}

.todoInput {
    box-sizing: border-box;
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    width: 100%;
    height: 100%;
    resize: none;
    color: white;
    background-color: rgb(59, 59, 59);
    overflow-y: scroll;
    padding: 20px 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 20px;
}

.todoInput::-webkit-scrollbar {
    display: none;
}

.todoInput {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.todoBtn {
    box-sizing: border-box;
    padding: 0px;
    position: relative;
    height: 40px;
    width: 40px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(113, 180, 243);
    margin: 10px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 50%;
    outline: none;
    transition: all 0.5s ease 0s;
}

.todoBtn span {
    font-size: 30px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    height: 40px;
    position: absolute;
    top: 54%;
    left: 54%;
    transform: translate(-50%, -50%);
    margin: 0px;
    padding: 0px;
}

#todoListContainer {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 600px;
    margin: 10px auto 0px;
}

.listItem {
    position: relative;
    min-height: 100px;
    font-family: Roboto, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: rgb(236, 236, 236);
    background-color: rgb(59, 59, 59);
    padding: 10px 20px;
    border-radius: 20px;
}

.listItem .todo {
    font-family: Roboto, sans-serif;
    color: rgb(236, 236, 236);
    box-sizing: border-box;
    margin: 20px 0 0 0;
    padding: 0px;
}
.delete:hover {
    cursor: pointer;
}

.listItem .wrapper {
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
}


@media (max-width: 600px) {
    .todoInputContainer, .listItem, #todoListContainer {
        width: 100%;
    }
}