.animate__faste {
    --animate-duration: 0.15s;
}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
    background-color: rgb(53, 53, 53);
}


#root {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

#root::-webkit-scrollbar {
    width: 12px;
}

#root::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#root::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.alert {
    text-align: center;
    min-height: 40px;
    padding-top: 20px;
    color: rgb(117, 48, 48);
}

.todoInputContainer {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    align-items: center;
    width: 600px;
    height: 100px;
    background-color: rgb(59, 59, 59);
    margin: 10px auto 0px;
    border-radius: 20px;
}

.todoInput {
    box-sizing: border-box;
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    width: 100%;
    height: 100%;
    resize: none;
    color: white;
    background-color: rgb(59, 59, 59);
    overflow-y: scroll;
    padding: 20px 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 20px;
}

.todoInput::-webkit-scrollbar {
    display: none;
}

.todoInput {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.todoBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px;
    position: relative;
    height: 40px;
    width: 40px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(113, 180, 243);
    margin: 10px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 50%;
    outline: none;
    transition: all 0.5s ease 0s;
    flex-shrink: 0;
}

.todoBtn:hover {
    cursor: pointer;
}

.todoBtn div{
    font-size: 34px;
    line-height: 34px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#todoListContainer {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 600px;
    margin: 10px auto 0px;
}

.listItem {
    position: relative;
    max-height: 400px;
    min-height: 100px;
    font-family: Roboto, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: rgb(236, 236, 236);
    background-color: rgb(59, 59, 59);
    padding: 10px 20px;
    border-radius: 20px;
    animation-duration: .1s;
}

.large {
    overflow-y: scroll;
}

.large::-webkit-scrollbar {
    width: 12px;
}

.large::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.large::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.listItem .todo {
    font-family: Roboto, sans-serif;
    color: rgb(236, 236, 236);
    box-sizing: border-box;
    margin: 20px 0 0 0;
    padding: 0px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    outline: none;
}

.delete:hover {
    cursor: pointer;
}

.listItem .wrapper {
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
}


/* Edit */
.saved {
    width: 70px;
    color: #075cb6;
    font-size: 12px;
}

@media (max-width: 660px) {

    .todoInputContainer,
    .listItem,
    #todoListContainer {
        width: 100%;
    }
}